<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoNew</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/font/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/scss/style.css" />
</head>

<body>
    <header class="container">
        <i class="fas fa-angle-left"></i>
    </header>
    <section class="menu">
        <nav class="container" id="nav">
            <ul>
                <li><a href="#" class="menu-link active">Mời bạn bè</a></li>
            </ul>
            <ul>
                <li> <a href="#" class="menu-link ">Danh sách bạn bè</a></li>
            </ul>
        </nav>
    </section>

    <section class="invite-code container">
        <h3 class="invite-code-title">
            Mã mời bạn bè
        </h3>
        <p class="invite-code-text">
            Sau khi bạn bè của bạn tải và đăng nhập vào ứng dụng GoNews hãy yêu cầu họ nhập mã thư mời của bạn.
            Và bạn sẽ nhận được hoa hồng từ việc đọc báo của bạn bè bạn!
        </p>

        <h3 class="code-me-title">
            Mã mời của bạn
        </h3>
        <div class="code-input">
            <input type="text" placeholder="A123456789" />
            <a href="">Copy</a>
        </div>
    </section>

    <section class="list-friends container">
        <div class="list-invite">
            <h3>
                Danh sách bạn bè đã mời
            </h3>
            <span><span id="total-user"></span> người</span>
        </div>
        <div class="income-friend">
            <h4>
                Thu nhập từ bạn bè
            </h4>
            <span>80.000xu</span>
        </div>
        <div id="example">
            <p>Bạn chưa có bạn bè</p>
        </div>
        <div class="list-friends-income">
            <div class="avata-name">
                <img src="../assets/img/avatar-thanh-tran.png" alt="">
                <h5>Thanh Trần</h5>
            </div>
            <span>20.000xu</span>
        </div>
        <div class="list-friends-income">
            <div class="avata-name">
                <img src="../assets/img/avatar-thanh-tran-1.png" alt="">
                <h5>Thanh Trần</h5>
            </div>
            <span>20.000xu</span>
        </div>
        <div class="list-friends-income">
            <div class="avata-name">
                <img src="../assets/img/avatar-thanh-tran-2.png" alt="">
                <h5>Thanh Trần</h5>
            </div>
            <span>20.000xu</span>
        </div>
        <div class="list-friends-income">
            <div class="avata-name">
                <img src="../assets/img/avatar-thanh-tran-3.png" alt="">
                <h5>Thanh Trần</h5>
            </div>
            <span>20.000xu</span>
        </div>
    </section>

    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/referral.js"></script>
</body>

</html>