<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chính Sách</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/reset.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">

                <a class="navbar-brand" href="../index.html"><img class="lazyload" data-src="../assets/img/logo.png"
                        alt="" />GONEWS</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="iconify nav-icon" data-icon="ei:navicon" data-inline="false"></span>
                </button>

                <div class="collapse navbar-collapse nav-menu" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Về chúng tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./rules.html">Điều khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./policy.html">Chính sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./tutorial.html">Hướng dẫn</a>
                        </li>
                        <li class="nav-item nav-item-login">
                            <a class="nav-link"
                                href="https://play.google.com/store/apps/details?id=com.metech.gonewsmmo">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="privacy-policy">
            <div class="container">
                <h3 class="privacy-policy-title">
                    GONEWS ’S TERMS AND CONDITIONS OF USE
                </h3>
                <p class="privacy-policy-text">
                    Welcome to GONEWS’s Privacy Policy. Thank you for taking the time to read it.
                </p>
                <p class="privacy-policy-text">
                    We appreciate that you trust us with your information and we intend to always keep that trust. This
                    starts with making sure you understand the information we collect, why we collect it, how it is used
                    and your choices regarding your information. This Policy describes our privacy practices in plain
                    language, keeping legal and technical jargon to a minimum.
                </p>
                <p class="privacy-policy-text">
                    Who we are?
                </p>
                <h3 class="privacy-policy-content">
                    Gonews aggregates the hottest news every day for entertainment and works
                </h3>
                <p class="privacy-policy-text">
                    - To join the GONEWS network you will create account. You also have the opportunity to provide other
                    details about yourself, but these are optional. Because you control your user profile, these details
                    are available to you at any time by accessing your “Profile” page, which gives you the chance to
                    correct or update (other than your email address and account 's name) your information at any time
                    by just logging in to GONEWS.
                </p>
                <p class="privacy-policy-text">
                    - For safety and security and to ensure you have the best possible user experience, we require users
                    to verify their accounts and might ask for your phone number. We want to make sure you are not a
                    robot! And we also want to avoid fake GONEWS accounts being created which can be used for malicious
                    activities and cyber crime – they threaten the GONEWS network and spoil things for everyone. We use
                    a third party provider for account verification who will keep your phone number for up to 90 days
                    for fraud identification purposes. We collect and use your phone number on the basis of our
                    legitimate interests identified above and for the prevention of fraud.
                </p>

                <p class="privacy-policy-text">
                    - It is your responsibility to ensure that your account details are kept up to date. If your phone
                    number changes, please ensure that you update this in your account.
                </p>
                <p class="privacy-policy-text">
                    - To prevent abuse of the app/site, GONEWS uses automated decisions to block accounts as part of its
                    anti-spam procedures. In order to do this, our systems check accounts and messages for content that
                    indicates breaches of our Terms and Conditions of Use. If an account or message meets certain
                    criteria that demonstrate that the Terms and Conditions of Use are likely to have been breached, the
                    relevant account will automatically be blocked. All users of accounts that have been blocked will be
                    notified that their account has been blocked and affected users can contact GONEWS to contest the
                    decision.
                </p>
                <p class="privacy-policy-text">
                    - GONEWS also uses automated decisions to prevent fraudulent payment transactions being processed as
                    part of its anti-fraud procedures. In order to do this, our systems check payment transactions for
                    behaviour that indicates breaches of our Terms and Conditions of Use. If a transaction meets certain
                    criteria that demonstrate that the Terms and Conditions of Use are likely to have been breached and
                    the transaction is likely to be fraudulent, the relevant transaction may automatically be blocked.
                    Where a transaction is blocked, the user will be notified that their transaction cannot be processed
                    and affected users can contact GONEWS to contest the decision.

                </p>
                <h3 class="privacy-policy-content">
                    What does GONEWS collect about me if I use the mobile App?
                </h3>
                <p class="privacy-policy-text">
                    - When you use your mobile or the desktop application, we will collect information about WiFi access
                    points as well as other location information about your longitude and latitude. That information
                    helps us identify your physical location so that it can be test exactly.
                </p>
                <p class="privacy-policy-text">
                    - We, or our third-party advertising partners, may also collect and use your device identifier to
                    serve relevant ads to you through the App.
                </p>
                <p class="privacy-policy-text">
                    - If you log into or access GONEWS through your Facebook profile, google account, Apple ID..., we
                    may collect data including your email address, name and profile picture, date of birth, a list of
                    your friends who also use the app, pages you have liked, location and photos in order to create and
                    update your GONEWS profile.
                </p>
                <p class="privacy-policy-text">
                    - If you log into or access GONEWS through your Facebook profile, remember to log off Facebook when
                    you leave a device in order to prevent other users from accessing your account.

                </p>
                <p class="privacy-policy-text">
                    - What is the legal basis that allows GONEWS to use my data? We are only permitted to use your data
                    when we have a lawful basis to do so. The table below provides an overview of the legal bases that
                    GONEWS relies on to use your data. Where the legal basis is consent, you can withdraw consent at any
                    time. Where the legal basis is legitimate interests, you have a right to object to our use of your
                    data. We explain in the relevant sections in this privacy notice how you can withdraw consent or
                    opt-out of certain data uses (where applicable).

                </p>
                <h3 class="privacy-policy-content">
                    How long will GONEWS keep my data?
                </h3>
                <p class="privacy-policy-text">
                    - In practice, we delete or anonymise your information upon deletion of your account (following the
                    safety retention window), unless:

                </p>
                <p class="privacy-policy-text">
                    - we must keep it to comply with applicable law (for instance, some “traffic data” is kept for one
                    year to comply with statutory data retention obligations);
                </p>
                <p class="privacy-policy-text">
                    - we must keep it to evidence our compliance with applicable law (for instance, records of consents
                    to our Terms, Privacy Policy and other similar consents are kept for five years); there is an
                    outstanding issue, claim or dispute requiring us to keep the relevant information until it is
                    resolved; or the information must be kept for our legitimate business interests, such as fraud
                    prevention and enhancing users' safety and security.

                </p>
                <h3 class="privacy-policy-content">
                    What information does GONEWS collect about my friends and contacts?

                </h3>
                <p class="privacy-policy-text">
                    You can choose to invite your friends to join GONEWS to make sure that they also get the benefits of
                    meeting new people. To make it easier to search and find friends and acquaintances on GONEWS, users
                    may search for other members by email address.
                </p>
            </div>

        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row flex-md-row flex-column-reverse">
                <div class="col-md-6 text-md-left text-center">
                    <a class="navbar-brand" href="#"><img class="lazyload" data-src="../assets/img/logo.png"
                            alt="" />GONEWS</a>
                    <div class="footer-content">
                        <p class="footer-text">
                            GoNews là ứng dụng giúp bạn kiếm thêm thu nhập thụ động từ thời gian rảnh của mình. Ứng dụng
                            cập nhật cho bạn hàng nghìn tin tức từ các đầu báo uy tín tại Việt Nam. Bạn chỉ cần duy trì
                            thói quen đọc báo hàng ngày và nhận tiền từ việc đọc. Thật tuyệt vời đúng không nào?
                        </p>
                        <div class="footer-social">

                            <span class="iconify footer-social-icon fb" data-icon="fa-brands:facebook"
                                data-inline="false"></span>

                            <span class="iconify footer-social-icon youtube"
                                data-icon="entypo-social:youtube-with-circle" data-inline="false"></span>
                            <span class="iconify footer-social-icon web" data-icon="whh:website"
                                data-inline="false"></span>

                            <span class="iconify footer-social-icon down" data-icon="bx:bx-down-arrow-circle"
                                data-inline="false"></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 text-md-left text-center">
                    <p class="footer-title">Liên kết</p>
                    <!-- <a href="./layout/policy.html" class="policy">
                        Chính sách bảo mật
                    </a> -->
                </div>
            </div>

        </div>
    </footer>
    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="../assets/cdn/lazyload.min.js"></script>
    <script type="text/javascript">
        $("img.lazyload").lazyload();
    </script>
</body>

</html>