<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoNew</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/font/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/custom.css" />
</head>

<body>
    <section class="install-goshare container">
        <div class="d-none" id="loading-request">
            <div class="loader m-auto"></div>
        </div>
        <div id="details">
        </div>
    </section>


    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/setting-app.js"></script>
</body>

</html>